/* For view option radio but maybe it would be deleted 
/* input[type="radio"] { */
/*   position: absolute; */
/*   opacity: 0; */
/*   width: 0; */
/*   height: 0; */
/* } */
/* input[type="radio"] + img { */
/*   cursor: pointer; */
/* } */
/* input[type="radio"]:checked + img { */
/*   outline: 1px solid red; */
/* } */
.buttons {
  width: 100%;
  height: 110px;
  margin-top: 74px;
  padding-right: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.view-options {
  display: flex;
  align-items: center;
  gap: 32px;
}
.radio-btn-img {
  width: 40px;
  height: 40px;
}

.todo-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.list-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 40px;
  justify-content: space-between;
  height: 120px;
  border-radius: 16px;
  padding: 0 40px;
  background: #fff;
  box-shadow: 0px 4px 21px 0px rgba(0, 0, 0, 0.25);
}
.row-head {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 32px;
}
.todo-checkbox {
  width: 40px;
  height: 40px;
}
.category-circle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: red;
}

.row-tail {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 32px;
}
.due-date {
  color: black;
  /* 54px = margin(22px) + gap(32px) */
  margin-right: 22px;
}
.list-row-action-btn {
  background-color: transparent;
  border: none;
}
.create-modal {
  /* display: flex; */
  display: none;
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.4);
  justify-content: center;
  align-items: center;
}
.modal-content {
  background: #e2e3e5;
  box-shadow: 0px 4px 21px 0px rgba(0, 0, 0, 0.25);
  width: 1000px;
  height: 500px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* margin-top: 10%; */
  /* margin-left: 25%; */
}
.modal-buttons {
  display: flex;
  flex-direction: row;
  justify-content: end;
  gap: 16px;
  padding: 16px 16px;
}
.button[id="cancelModal"] {
  background: grey;
}
table {
  font-size: 30px;
  border-spacing: 32px;
}
.input {
  height: 60px;
  width: 500px;
  border-radius: 16px;
  font-size: 30px;
  padding: 0 16px;
}

.input[type="date"] {
  background: #fff;
  border: 1px solid gray;
}

.category-radio {
  width: 40px;
  height: 40px;
  position: relative;
}
/*For style of default radio button*/
.category-radio::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: inherit;
  content: "";
}
/*if checked, following basic radio style
* but color be handled by accent-color*/
.category-radio:checked::after {
  background: transparent;
}

@media screen and (max-width: 1280px) {
  .list-row {
    font-size: 20px;
    padding: 16px;
  }
  .row-head {
    gap: 16px;
  }
}
