body {
  margin: 0;
}

.todo-header {
  background-color: #256edc;
  height: 120px;
  width: 100%;
  display: flex;
  align-items: center;
  padding-left: 45px;
}
.header-text {
  font-size: 50px;
  color: #fff;
}
.buttons {
  width: 1500px;
  height: 110px;
  margin-top: 74px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: red;
}
.create-btn {
  width: 190px;
  height: 56px;
  border-radius: 32px;
  border-color: transparent;
  background-color: #256edc;
  color: #fff;
  font-size: 30px;
}
