.body-wrapper {
  gap: 32px;
  margin-top: 140px;
}
.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.row span {
  font-size: 40px;
}
.input {
  height: 120px;
  width: 1000px;
  border-radius: 16px;
  font-size: 40px;
  padding: 0 32px;
}

.category {
  display: flex;
  flex-direction: row;
  width: 1000px;
  gap: 32px;
}
.category input {
  width: 54px;
  height: 54px;
  border-radius: 50%;
}
.button {
  align-self: center;
  margin-top: 140px;
}
